{#

This file is part of the AJTemplate package.

(c) Andraž Jalovec <andraz.jalovec@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'JMISiteBundle::base_layout.html.twig' %}

{% block page_container %}
{% if isAdminPageEditor %}{% endif %}
{% set activePageSlug = page.slug %}


<div class="page">
    <header class="header">
        <div class="container">
            
            <div class="pull-right navigation">
                {{ path(page) }}
                {{ dump(page.url) }}
                <
                {{ sonata_page_render_container('header', 'global') }}
            </div>
        </div>
    </header>
    <div class="body">
        <div class="main-page container">
            {{ sonata_page_render_container('content_left', page) }}
            {% if content is defined %}
                {{ content|raw }}
            {% else %}
                {% set content = block('content') %}
                {% if content|length > 0 %}
                    {{ content|raw }}
                {% elseif page is defined %}
                    {{ sonata_page_render_container('content', page) }}
                {% endif %}
            {% endif %}
            
        </div>

    </div>

</div>
{% endblock %}
