{% extends "AcmeFormBundle:Form:form_div_layout.html.twig" %}
{% block _local_area_row %}
<h4 class="single-form-title">Formularz <span class="single-form-title-action">kupna</span> lokalu użytkowego/biura.</h4>
{% spaceless %}
    <div class="row-box">
        <div class="form-left left">
            {{ form_label(form) }}
        </div>    	
        <div class="form-right right">
            {{ form_widget(form) }}
        </div>     
        <div class="clear"></div>        
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock %}

{% block _parcel_area_row %}
<h4 class="single-form-title">Formularz <span class="single-form-title-action">kupna</span> nieruchomości gruntowej.</h4>
{% spaceless %}
    <div class="row-box">
        <div class="form-left left">
            {{ form_label(form) }}
        </div>    	
        <div class="form-right right">
            {{ form_widget(form) }}
        </div>     
        <div class="clear"></div>        
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock %}

{% block email_row %}
<h4 class="single-form-title">Dane do kontaktu</h4>
{% spaceless %}
    <div class="row-box">
        <div class="form-left left">
            {{ form_label(form) }}
        </div>    	
        <div class="form-right right">
            {{ form_widget(form) }}
        </div>     
        <div class="clear"></div>        
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock %}

{% block _hause_area_row %}
<h4 class="single-form-title">Formularz <span class="single-form-title-action">kupna</span> domu.</h4>
{% spaceless %}
    <div class="row-box">
        <div class="form-left left">
            {{ form_label(form) }}
        </div>    	
        <div class="form-right right">
            {{ form_widget(form) }}
        </div>     
        <div class="clear"></div>        
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock %}

{% block _flat_area_row %}
<h4 class="single-form-title">Formularz <span class="single-form-title-action">kupna</span> mieszkania.</h4>
{% spaceless %}
    <div class="row-box">
        <div class="form-left left">
            {{ form_label(form) }}
        </div>    	
        <div class="form-right right">
            {{ form_widget(form) }}
        </div>     
        <div class="clear"></div>        
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock %}


{% block _storage_area_row %}
<h4 class="single-form-title">Formularz <span class="single-form-title-action">kupna</span> hali/magazynu.</h4>
{% spaceless %}
    <div class="row-box">
        <div class="form-left left">
            {{ form_label(form) }}
        </div>    	
        <div class="form-right right">
            {{ form_widget(form) }}
        </div>     
        <div class="clear"></div>        
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock %}

{% block _hause_area_widget %}
    {{ block('form_widget_simple') }} m<sup>2</sup>
{% endblock _hause_area_widget %}

{% block _flat_area_widget %}
    {{ block('form_widget_simple') }} m<sup>2</sup>
{% endblock _flat_area_widget %}

{% block _local_area_widget %}
    {{ block('form_widget_simple') }} m<sup>2</sup>
{% endblock _local_area_widget %}

{% block _parcel_area_widget %}
    {{ block('form_widget_simple') }} m<sup>2</sup>
{% endblock _parcel_area_widget %}

{% block _storage_area_widget %}
    {{ block('form_widget_simple') }} m<sup>2</sup>
{% endblock _storage_area_widget %}

{#
 Lokalizacja
#}

{% block _local_localization_row %}
	{% include 'AcmeFormBundle:Form:localization_row.html.twig' %}
{% endblock %}
{% block _hause_localization_row %}
	{% include 'AcmeFormBundle:Form:localization_row.html.twig' %}
{% endblock %}
{% block _flat_localization_row %}
	{% include 'AcmeFormBundle:Form:localization_row.html.twig' %}
{% endblock %}
{% block _parcel_localization_row %}
	{% include 'AcmeFormBundle:Form:localization_row.html.twig' %}
{% endblock %}
{% block _storage_localization_row %}
	{% include 'AcmeFormBundle:Form:localization_row.html.twig' %}
{% endblock %}
