        {% extends '::base.html.twig' %}
        {% block main_column  %}
        	{% set blockSubIds = '' %}

        	{% if modules %}
			    {% for module in modules %}
			    	{% if module.blockSubId is empty %}
					{% else %}
						{% set blockSubIds = blockSubIds ~ module.blockSubId ~ ' '%}
					{% endif %}
			    {% endfor %}
		    {% endif %}
            <div class="right-column-content pTop pBottomLarge pBottom pLeft pRight darkShadowWrap {{ blockSubIds }} custom-ui-dialog">
                <div class="breadcrumbs" style="display:none">
                    {{ knp_menu_render('breadcrumb',{'currentAsLink':false}) }}
                </div>
                <h1 class="page-title">{{ title }}</h1>
                <div class="page-content">	
                    {{ body|raw }}
                </div>
            	{% if modules %}
				    {% for module in modules %}
				    	{% if module.blockName is empty %}
						{% else %}
							{{ sonata_block_render({'type': module.blockName }) }}
						{% endif %}
				    {% endfor %}
			    {% endif %}
            </div>

        {% endblock %}
{% block wrapper_css  %}
{% spaceless %}
{% if modules %}
{% for module in modules %}
{% if module.blockSubId is empty %}{% else %}wrapp-{{ module.blockSubId }} {% endif %}
{% endfor %}
{% endif %}
{% endspaceless %}
{% endblock %}