{% extends sonata_block.templates.block_base %}
{% form_theme mainForm 'AcmeFormBundle:Form:form_div_layout_form.html.twig' %}
{% form_theme hauseTypeForm 'AcmeFormBundle:Form:form_div_layout_form.html.twig' %}
{% form_theme flatTypeForm 'AcmeFormBundle:Form:form_div_layout_form.html.twig' %}
{% form_theme localTypeForm 'AcmeFormBundle:Form:form_div_layout_form.html.twig' %}
{% form_theme parcelTypeForm 'AcmeFormBundle:Form:form_div_layout_form.html.twig' %}
{% form_theme storageTypeForm 'AcmeFormBundle:Form:form_div_layout_form.html.twig' %}
{% block block %}
{% set mainFormDisplay = 'display: block' %}
{% set hauseTypeFormDisplay = 'display: none' %}
{% set flatTypeFormDisplay = 'display: none' %}
{% set localTypeFormDisplay = 'display: none' %}
{% set parcelTypeFormDisplay = 'display: none' %}
{% set storageTypeFormDisplay = 'display: none' %}
{% if validFlag == 'invalid'%}
	{% if type == 'hause'%}
		{% set mainFormDisplay = 'display: none' %}
		{% set hauseTypeFormDisplay = 'display: block' %}
	{% endif %}
	
	{% if type == 'flat'%}
		{% set mainFormDisplay = 'display: none' %}
		{% set flatTypeFormDisplay = 'display: block' %}
	{% endif %}

	{% if type == 'local'%}
		{% set mainFormDisplay = 'display: none' %}
		{% set localTypeFormDisplay = 'display: block' %}
	{% endif %}

	{% if type == 'parcel'%}
		{% set mainFormDisplay = 'display: none' %}
		{% set parcelTypeFormDisplay = 'display: block' %}
	{% endif %}

	{% if type == 'storage'%}
		{% set mainFormDisplay = 'display: none' %}
		{% set storageTypeFormDisplay = 'display: block' %}
	{% endif %}

{% endif %}

<div id="form-accordion" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">   
    <div id="form" class="form ui-corner-top ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">       
		{% if validFlag == 'invalid'%}
			<div class="ui-widget">
		        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		            <strong>Bląd</strong>         
		                Proszę prawidłowo wypełnić formularz.
		            </p>
		        </div>
		    </div>
		{% endif %}
		<div id="mainForm" class="single-form" style="{{ mainFormDisplay }}">
			<form action="{{ path(routeName) }}" method="post" {{ form_enctype(mainForm) }}>
			    {{ form_widget(mainForm) }}
			</form>
		</div>
		<div id="hauseTypeForm" class="single-form" style="{{ hauseTypeFormDisplay }}">
			<form action="{{ path(routeName) }}" method="post" {{ form_enctype(hauseTypeForm) }}>
			    {{ form_widget(hauseTypeForm) }}
				<div class="row-box row-submit-box" style="text-align: center">
					<input type="submit" class="stylized-button stylized-very-long-button" value="Zapisz formularz"/>
				</div>
			</form>
		</div>
		<div id="flatTypeForm" class="single-form" style="{{ flatTypeFormDisplay }}">
			<form action="{{ path(routeName) }}" method="post" {{ form_enctype(flatTypeForm) }}>
			    {{ form_widget(flatTypeForm) }}
				<div class="row-box row-submit-box" style="text-align: center">
					<input type="submit" class="stylized-button stylized-very-long-button" value="Zapisz formularz"/>
				</div>
			</form>
		</div>
		<div id="localTypeForm" class="single-form" style="{{ localTypeFormDisplay }}">		
			<form action="{{ path(routeName) }}" method="post" {{ form_enctype(localTypeForm) }}>
			    {{ form_widget(localTypeForm) }}
				<div class="row-box row-submit-box" style="text-align: center">
					<input type="submit" class="stylized-button stylized-very-long-button" value="Zapisz formularz"/>
				</div>
			</form>
		</div>
		<div id="parcelTypeForm" class="single-form" style="{{ parcelTypeFormDisplay }}">		
			<form action="{{ path(routeName) }}" method="post" {{ form_enctype(parcelTypeForm) }}>
			    {{ form_widget(parcelTypeForm) }}
				<div class="row-box row-submit-box" style="text-align: center">
					<input type="submit" class="stylized-button stylized-very-long-button" value="Zapisz formularz"/>
				</div>
			</form>
		</div>
		<div id="storageTypeForm" class="single-form" style="{{ storageTypeFormDisplay }}">		
			<form action="{{ path(routeName) }}" method="post" {{ form_enctype(storageTypeForm) }}>
			    {{ form_widget(storageTypeForm) }}
			    
				<div class="row-box row-submit-box" style="text-align: center">
					<input type="submit" class="stylized-button stylized-very-long-button" value="Zapisz formularz"/>
				</div>
			</form>
		</div>                    
    </div>
</div>
{% endblock %}