
{% block file_row %}
    <div class="file_widget">
        {{ form_widget(form) }}
        
    </div>
{% endblock file_row %}

{% block form_row %}
    <div class="form-row">
        {{ form_label(form) }}       
        {{ form_widget(form) }}       
        {{ form_errors(form) }}       
    </div>
{% endblock %}


{% block collection_widget %}
    {{ label|default(name|humanize) }}
    
    <ul class="collection">
        {% for item in form %}
            <li>
                {{ form_widget(item) }}
                {#{ dump(item.name) }#}
            </li>
        {% endfor %}
    </ul>
{% endblock collection_widget %}


{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %}
                <span class="required" title="This field is required">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

